<!doctype html>
<html>
<head>
  <title>Nota Fiscal Azion</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}vendors/bootstrap/css/bootstrap.css" type="text/css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}vendors/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/invoice.css" type="text/css"/>
</head>
<body> 

	<div class="container">
		
		<div class="logo">
			<a href="{% url 'index' %}">
				<img src="{{ STATIC_URL }}images/logo.png" width="150" >
			</a>
		</div>

		<ul class="nav nav-tabs">
		  <li><a href="{% url 'index' %}">Inicio</a></li>
		  <li><a href="{% url 'client_list'%}">Clientes</a></li>
		  <li><a href="{% url 'service_list' %}">Serviços</a></li>
		</ul>

		{% block content %}
		{% endblock %}
		
	</div>
</body>
</html>