{% extends "base.html" %}
  {% block content %}

  <div>
  {{ formset.non_form_errors }}



  <p class="orangetext" style="font-family: Myriad Pro; font-size: 28px">
    Fatura de Prestação de Serviços
  </p>
  <div id="invoice_label">
      <p class="blacktext" align="right">
        Emissão: {{ emission_date|date:'d.m.Y' }}
      </p>
  </div> 

  <div class="clearfix"></div>
   <form action="" method="POST" class="form-default">
    {% csrf_token %}
    <input type="submit" value="Gravar" class="button">
    <div style="display: block">
    <hr/> 

    <div class="clearfix"></div>
    <div style="display: block">



      <div style="display: inline-block; width: 10%;">
        <label class="labels-invoice">
          Cliente
        </label>
        <label class="labels-invoice">
          ID do Cliente
        </label>
        <label class="labels-invoice">
          Endereço
        </label>
      </div>

      <div style="display: inline-block; width: 58%;">
        <input class="form-invoice-data" name="client_name" type="text" value="{{ client.name }}">
        <input name="client_code" type="text" class="form-invoice-data" value="{{ client.code }}">
        <input class="form-invoice-data" name="client_address" type="text" value="{{ client.address }}">
      </div>

      <div style="display: inline-block;width: 8%;">
          <label class="labels-invoice">
            CNPJ
          </label>
          <label class="labels-invoice">
            Telefone
          </label>
      </div>

      <div style="display: inline-block; width: 20%;margin-top: 2px">
          <input name="client_cnpj" type="text" class="form-invoice-data" value="{{ client.cnpj }}">
          <input name="client_phone" type="text" class="form-invoice-data" value="{{ client.phone }}">
      </div>
    </div>

    <div class="clearfix"></div>

    <hr/> 

    <div class="clearfix"></div>
    <div style="display: block">

    <table class="table-invoice">
    <thead>
      <tr>
        <th style="width: 82%">
          Descrição dos serviços
        </th>
        <th>
          Preço do Serviço
        </th>

      </tr>
    </thead>
    </table>

        {{ formset.management_form }}
          {% for form in formset.forms %}
          {{ form.errors }}
            <div class="form-invoice-container">
              <div class="form-input-row">
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                
                {{ form.service }}
              </div>
              <div class="form-input-row2">
                <div class="blacktext">
                    
                 R$ {{ form.value }}
                 {{ form.DELETE }} Remover
                </div>
              </div>
            </div>
          {%  endfor %}

      <p style="width: 70%;display: inline-block">
        Valor Total
      </p>
      <p style="width: 20%;display: inline-block">
        R$ 
      </p>

    <div class="clearfix">
    </div>
    <hr> 

    <div id="space2"></div>

    <table class="table-invoice" align="center">

    <colgroup>
      <col style="width: 12%">
      <col style="width: 43%">
      <col style="width: 18%">
      <col style="width: 23%">
    </colgroup>
    <tr>
      <td class="table-header">Retenções</td>
      <td class="table-header"></td>
      <td class="table-header">Alíquota %</td>
      <td class="table-header">Valor (R$)</td>
    </tr>
    <tr>
      <td class="table-item-row" colspan="2">
        <input class="retention-name" name="retentionlist" type="text" value="ISSQN por substituição tributária.">
      </td>
      <td class="table-item-row">
        <input class="aliquot-value" type="text">
      </td>
      <td class="table-item-row2" colspan="2">
        <input class="retention-value" name="retentionlist" type="text" value="0,00">
      </td>
    </tr>
    <tr>
      <td class="table-item-row" colspan="2">
        <input class="retention-name" name="retentionlist" type="text" value="{{ retention.description }} ">
      </td>
      <td class="table-item-row">
        <input class="aliquot-value" type="text">
      </td>
      <td class="table-item-row2" colspan="2">
        <input class="retention-value" name="retenrionlist" type="text">
      </td>
    </tr>
    <tr>
      <td class="table-item-row" colspan="2">
        <input class="retention-name" name="retentionlist" type="text">
      </td>
      <td class="table-item-row">
        <input class="aliquot-value" type="text">
      </td>
      <td class="table-item-row2" colspan="2">
        <input class="retention-value" name="retentionlist" type="text">
      </td>
    </tr>
    <tr>
      <td class="table-item-row" colspan="2">
        <input class="retention-name" name="retentionlist" type="text">
      </td>
      <td class="table-item-row">
        <input class="aliquot-value" type="text">
      </td>
      <td class="table-item-row2" colspan="2">
        <input class="retention-value" name="retentionlist" type="text">
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="table-total">Valor líquido (R$)</td>
      <td class="table-total"></td>
    </tr>
    </table>

    <div id="space2"></div>

    <div id="space"></div>

    <div align="center" class="txt2">
      <p>Azion Prestação de serviços em Tecnologia e Telecomunicação LTDA - Rua Padre Chagas, 415 - Sala 501,</p>
      <p>Moinhos de Vento, CEP 90570-080, Porto Alegre/RS - Fone + 55 51 3012 3005</p>
      <p>CNPJ: 12.447.998/0001-56 - Inscrição Municipal: 250.635-2-9</p>
      <p style="font-weight:bold;">Este documento substitui a Nota Fiscal de Servicos. Autorizado nos termos do Processo</p>
      <p style="font-weight:bold;">Administrativo de Regime Especial 001.1053.52.13.6,SMF/Porto Alegre/RS</p>
    </div>
    </div>

    <div id="botton" align="center">
      <div id="space2"></div>
    </div>

    </div>

    <div id="botton">
      <div id="space2"></div>
    </div>

  </form>
  {% endblock %}